.highlight {
    border: 4px solid #0d78fc;
    box-sizing: border-box;
}

.data {
    float:left;
}

.highlight-box {
    position:relative;
    pointer-events: none;
    height: 100%;
    margin-top: -100%;
    border: blue solid 2px;
}
