<div style="max-height:100%;min-height:100%"
    fxLayout="column">
    <md-toolbar color="lightgray" fxLayout="row">
        <md-input-container>
            <input mdInput placeholder="Search">
        </md-input-container>

        <span fxFlex></span>
        <button md-icon-button
                *ngIf="list"
                (click)="zoom_in()">
            <md-icon>zoom_in</md-icon>
        </button>

        <button md-icon-button
                *ngIf="list"
                (click)="zoom_out()" >
            <md-icon>zoom_out</md-icon>
        </button>

        <button md-icon-button
                *ngIf="!list"
                (click)="list=true; refresh()">
            <md-icon>view_module</md-icon>
        </button>

        <button md-icon-button
                *ngIf="list"
                (click)="list=false; refresh()">
            <md-icon>view_list</md-icon>
        </button>

        <button md-icon-button
                (click)="toggleSetting()">
            <md-icon>settings</md-icon>
        </button>
    </md-toolbar>

    <div class="overlay-parent"
        fxLayout="column"
        [class.invisible]="!setting">
        <div class="overlay"
            [class.full]="full">
          <div style="position:relative; height:auto">
            <md-card style="height:100%">
              <label-class-setting [config]="project?.config" [project]="project?.id" (update)="updateConfig($event)"></label-class-setting>
            </md-card>
          </div>
        </div>
        <button style="margin-top:3px"
                md-mini-fab
                fxFlexAlign="center"
                (click)="toggleFull()">
            <md-icon *ngIf="!full">keyboard_arrow_down</md-icon>
            <md-icon *ngIf="full">keyboard_arrow_up</md-icon>
        </button>
    </div>

    <virtual-scroll #vs
                    *ngIf="list"
                    [items]="datas"
                    style="overflow-y:overlay"
                    (update)="_datas = $event;"
                    [childHeight]="dataSize" 
                    [childWidth]="dataSize">

            <div    *ngFor="let data of _datas; let i = index"
                    class="data"
                    [class.highlight]="selected.has(data.id)"
                    [style.width.px]="dataSize"
                    [style.height.px]="dataSize"
                    style="margin:3px"
                    (click)="select(data.id, $event.ctrlKey || $event.metaKey)">

                    <data-container [data]="data">
                    </data-container>
            </div>
    </virtual-scroll>

    <div *ngIf="!list" fxLayout="row">
        <virtual-scroll fxFlex="25"
                        [items]="datas"
                        (update)="_datas = $event;"
                        (change)="updateIndex($event)">

                <div    *ngFor="let data of _datas; let i = index"
                        [style.height.vw]="25"
                        style="margin:3px"
                        (click)="select(data.id, false)"
                        [class.highlight]="selected.has(data.id)">
                        <data-container [data]="data">
                        </data-container>
                </div>
        </virtual-scroll>

        <div fxFlex="75">
            <data-container *ngIf="selectedData" [data]="selectedData">
            </data-container>
        </div>
    </div>
</div>
