<div style="position:absolute;width:100%;top:90%">
    <span *ngIf="type=='inference'" class="inference">
      <md-chip-list style="width:50%">
        <md-chip
            selected="true"
            color="accent"
            *ngIf="data?.config?.label">
            {{ data?.config?.label }}
        </md-chip>
      </md-chip-list>
    </span>

    <span *ngIf="type!='inference'" style="padding-top:90%">
      <md-chip-list style="width:50%">
        <md-chip
            selected="true"
            color="primary"
            *ngIf="data?.config?.label">
            {{ data?.config?.label }}
        </md-chip>
      </md-chip-list>
    </span>
</div>
